* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/woff2/YekanBakh-thin.woff2") format("woff2");
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/woff2/YekanBakh-Light.woff2") format("woff2");
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/woff2/YekanBakh-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/woff2/YekanBakh-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/woff2/YekanBakh-Bold.woff2") format("woff2");
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/woff2/YekanBakh-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/woff2/YekanBakh-Black.woff2") format("woff2");
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 950;
  src: url("../fonts/woff2/YekanBakh-ExtraBlack.woff2") format("woff2");
}
@font-face {
  font-family: "karizma";
  src: url("fonts/karizma.eot?k4ml7j");
  src: url("../fonts/karizma.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "karizma" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mt-arrow:before {
  content: "\e900";
}

.icon-mt-basket:before {
  content: "\e901";
}

.icon-mt-Buy:before {
  content: "\e92d";
}

.icon-mt-telegram:before {
  content: "\e92e";
}

.icon-mt-instagram:before {
  content: "\e92f";
}

.icon-mt-Heart:before {
  content: "\e970";
}

.icon-mt-user:before {
  content: "\e971";
}

.icon-mt-phon:before {
  content: "\e972";
}

.icon-mt-search:before {
  content: "\e97f";
}

.icon-mt-call:before {
  content: "\e980";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Yekan Bakh;
  font-size: 16px;
  color: black;
  direction: rtl;
  background-color: #efe8e2;
}
body.active {
  overflow: hidden;
}

h2, h3, h4, h5 {
  font-family: Yekan Bakh;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

@media (min-width: 560px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}
/* Start Header*/
.header {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(201, 201, 201, 0.4);
}

.header-top {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
}
.header-top .item {
  display: flex;
}
.header-top .logo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-left: 10px;
}
.header-top .logo-header::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background: rgba(201, 201, 201, 0.4);
  top: 15px;
  left: 0;
}
.header-top .logo-header span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3b221b;
  font-size: 20px;
  padding: 3px;
  border-radius: 50%;
  color: white;
  height: 30px;
  width: 30px;
}
.header-top .logo-header h2 {
  font-size: 19px;
}

.header-page {
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 430px;
}
.header-page li {
  color: white;
  justify-content: space-between;
  position: relative;
}
.header-page li ul {
  width: 120px;
  padding: 10px 0;
}
.header-page li ul a {
  padding: 0 10px;
}
.header-page li a {
  color: black;
}
.header-page li a:hover {
  color: rgb(255, 196, 0);
}
.header-page li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.header-icon {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icon span {
  font-size: 20px;
  height: 20px;
}

.header-form {
  display: flex;
  flex-direction: row-reverse;
  height: 34px;
  align-items: center;
  justify-content: center;
}
.header-form input {
  border: 0 solid transparent;
  margin-right: 5px;
  font-family: Yekan Bakh;
  background: transparent;
}
.header-form button {
  border: 0 solid transparent;
  background: transparent;
}
.header-form button span {
  font-size: 20px;
}

.app {
  transition: 0.4s ease-in-out;
  float: right;
  width: 100%;
  position: relative;
  right: 0;
}
.app.active {
  right: 250px;
}

.menu-back {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.menu-back.active {
  display: block;
}

@media (min-width: 992px) {
  .header-page {
    display: flex;
  }
  .header-page li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 200%;
    right: 0;
    background: rgba(252, 249, 249, 0.6);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    transition: 0.2s ease-in-out;
    border-radius: 16px;
  }
  .header-page li a:hover {
    color: rgb(255, 196, 0);
  }
  .header-page li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  .header-page .menu {
    display: none;
  }
  .header-page .list {
    display: none;
  }
  .logo-header::before {
    display: block;
  }
  .header-icon .list {
    display: none;
  }
}
@media (max-width: 991px) {
  .header-page {
    width: 250px;
    height: 100%;
    z-index: 9999;
    background: #ffffff;
    position: fixed;
    top: 0;
    right: -250px;
    overflow-y: scroll;
    transition: 0.4s ease-in-out;
  }
  .header-page li {
    width: 100%;
    float: right;
  }
  .header-page li ul {
    background: #eee;
    float: right;
    width: 100%;
    display: none;
  }
  .header-page li:hover ul {
    visibility: visible;
    opacity: 1;
    top: -5%;
    z-index: 99999;
  }
  .header-page a {
    padding: 0 10px;
    width: 100%;
    float: right;
  }
  .header-page ul {
    padding-right: 10px !important;
  }
  .header-page.active {
    right: 0;
  }
  .header-page .menu {
    display: block;
    color: black;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
  }
  .header-icon .icon-mt-Heart {
    display: none;
  }
}
/* end Header*/
/*baner top*/
.baner {
  margin-top: 15px;
}

.baner-top {
  float: right;
}
.baner-top img {
  float: right;
  width: 100%;
  border-radius: 6px;
}

/*Baner bottom*/
main {
  width: 100%;
  float: right;
}

.baner-2 {
  margin-top: 50px;
  float: right;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.baner-2 .item {
  width: 100%;
}
.baner-2 .item img {
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .baner {
    margin-top: 0;
  }
  .baner-2 .item {
    width: 49.5%;
  }
}
/*End Baner*/
/*Start category*/
.category {
  width: 100%;
  float: right;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 55px 0;
}
.category h3 {
  font-size: 20px;
  background: #f6f6f6;
  padding: 0 20px;
  line-height: 50px;
  border-radius: 10px;
  width: 30%;
  max-width: 250px;
  text-align: center;
}
.category .item {
  background: #f6f6f6;
  float: right;
  line-height: 30px;
  border-radius: 10px;
  padding: 0 10px;
  width: calc(70% - 10px);
  display: flex;
}
.category .item .Products li {
  position: relative;
  margin-right: 8px;
}
.category .item .Products li:hover a {
  color: rgb(255, 255, 255);
}
.category .item .Products li:hover::before {
  transform: scale(1);
}
.category .item .Products li::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #222;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px;
  transform: scale(0);
  transition: 0.2s ease-in-out;
}
.category .item .Products li a {
  border-radius: 7px;
  color: black;
  padding: 0 6px;
  position: relative;
  transition: 0.2s ease-in-out;
}

@media (min-width: 992px) {
  .category {
    justify-content: flex-start;
    align-items: center;
  }
  .category .item {
    line-height: 40px;
    width: auto;
    margin-right: 26px;
  }
  .category .item li {
    display: inline-block;
  }
}
/*End category*/
/*Start slider*/
.slider-block {
  float: left;
  width: 100%;
}

.slider {
  float: left;
  width: 100%;
  padding: 40px;
  background: #f6f6f6;
  border-radius: 16px;
}

.article-product {
  width: 100%;
  height: 305px;
  border-radius: 16px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.article-product .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}
.article-product .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 60%;
}
.article-product .title {
  font-size: 13px;
  padding: 0 15px;
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.article-product .des {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

/*End slider*/
/*Start Work-samples*/
.Work-samples {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  float: right;
  flex-flow: row wrap;
}
.Work-samples .item {
  margin-bottom: 100px;
  width: 45%;
  height: 70px;
  background-color: #f2c9b3;
  border-radius: 0 0 70px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Work-samples .item:hover img {
  animation: heart 2s infinite;
}
.Work-samples .item:hover h3 {
  animation: jj 0.4s 0.2s 1 forwards;
}
.Work-samples .item img {
  position: absolute;
  top: -72px;
  transition: ease-in-out 0.2s;
}
.Work-samples .item h3 {
  font-size: 15px;
}

@media (min-width: 992px) {
  .Work-samples .item {
    width: 14%;
  }
}
@keyframes heart {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
/*Start Work-samples*/
/*Start Slider-2*/
.slider-block-2 {
  float: left;
  width: 100%;
}

.slider-2 {
  float: left;
  width: 100%;
  padding: 40px;
  background: white;
  border-radius: 16px;
}

.article-product-2 {
  width: 100%;
  height: auto;
  border-radius: 7px;
  background: #ebc6ac;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.article-product-2 .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}
.article-product-2 .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 60%;
}
.article-product-2 .title {
  font-size: 13px;
  padding: 0 15px;
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.article-product-2 .des {
  float: right;
  justify-content: end;
  align-items: center;
  display: flex;
  padding: 4px 6px;
}

/*Start roperty*/
.property {
  width: 100%;
  display: flex;
  float: right;
  justify-content: space-between;
  margin-top: 60px;
}
.property .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.property .item .text {
  display: none;
}

@media (min-width: 992px) {
  .property .item .text {
    display: block;
  }
}
/*End roperty*/
/*Start blog*/
.blog {
  width: 100%;
  display: flex;
  justify-content: space-between;
  float: right;
  flex-flow: row wrap;
  margin-top: 30px;
}
.blog .item {
  width: 48%;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  float: right;
  margin-top: 30px;
  border-radius: 16px;
  background: white;
}
.blog .item .img {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}
.blog .item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .item .text {
  float: right;
  font-size: 9px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.blog .item .text span {
  font-size: 12px;
  margin-top: 10px;
  float: right;
}

@media (min-width: 992px) {
  .blog .item {
    width: 260px;
    display: block;
    margin-top: 0px;
    margin-top: 70px;
  }
}
/*Start blog*/
/*Start about*/
.about {
  width: 100%;
  float: right;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.about .item {
  width: 625px;
  height: 170px;
  background: #ecc7ad;
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
}
.about .item .about-h3 {
  margin-top: 20px;
}
.about .item .about-h3::before {
  content: "\e972";
  font-family: "karizma";
  transform: scaleX(-1);
  display: inline-block;
  margin: 0 10px;
}
.about .item .about-h3::after {
  content: "\e972";
  font-family: "karizma";
  display: inline-block;
  margin: 0 10px;
}
.about .item::before, .about .item::after {
  content: "";
  position: absolute;
  width: 92px;
  height: 82px;
  background-image: url(../img/about-1.png);
}
.about .item::before {
  bottom: -1px;
  right: -18px;
}
.about .item::after {
  top: -20px;
  left: -20px;
  transform: scaleX(-1);
  display: inline-block;
}
.about .item .about-ul li {
  margin-top: 15px;
}
.about .item .about-ul li span {
  margin: 0 8px;
}

/*Start blog*/
/*Start footer*/
footer {
  width: 100%;
  margin: 90px 0;
  float: right;
}
footer .box {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
footer .box .item {
  width: 45%;
}
footer .box .item .footer-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #6e4f45;
}
footer .box .item .footer-ul li {
  margin-top: 2px;
  font-size: 15px;
}
footer .box .item .footer-ul li a {
  font-size: 13px;
  color: #6e4f45;
}
footer .box .item .footer-ul li a::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #6e4f45;
  margin-left: 5px;
}
footer .box .item .footer-ul .logo-footer {
  position: relative;
  padding-left: 10px;
}
footer .box .item .footer-ul .logo-footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3b221b;
  font-size: 20px;
  padding: 3px;
  border-radius: 50%;
  color: white;
  height: 30px;
  width: 30px;
}
footer .box .item .footer-ul .logo-footer h2 {
  font-size: 19px;
}
footer .box .item .footer-ul .social-media {
  position: relative;
  padding-left: 10px;
  display: flex;
}
footer .box .item .footer-ul .social-media span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3b221b;
  font-size: 20px;
  padding: 3px;
  border-radius: 50%;
  color: white;
  height: 30px;
  width: 30px;
  margin: 10px 10px;
}
footer .box .item .footer-ul .social-media h2 {
  font-size: 19px;
}

@media (min-width: 992px) {
  footer .box {
    flex-flow: row;
  }
  footer .box .l1 {
    width: 560px;
  }
}
/*End footer*/
/*Start jump to yop*/
.top {
  width: 40px;
  height: 40px;
  background: #adaba9;
  border: 0 transparent;
  position: fixed;
  bottom: -50px;
  right: 10px;
  transition: 0.4s cubic-bezier(0.08, 1.09, 0.87, 1.28);
  z-index: 999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top.active {
  bottom: 30px;
}

/*end jump to yop*/
/* start loding */
.loding-page {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: ease all 0.5s;
}

.loded {
  opacity: 0;
  visibility: hidden;
}

.loding-circle {
  width: 50px;
  height: 50px;
  border: 2px solid blue;
  border-radius: 50%;
  border-bottom: none;
  border-left: none;
  animation-name: loader;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* end loding *//*# sourceMappingURL=style.css.map */